{% extends "dungeons.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/dungeons">Dungeons</a></li>
    <li class="active">Dungeons List</li>
    <li><a href="/raid">Raid</a></li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Dungeons List</h1>
<p>Below you will find links to summarising descriptions of all the 5 man dungeons currently available in Battle for Azeroth expansion.</p>
<table class="table table-condensed">
    <tr>
        <td><img src="static/images/fh.jpg" class="img-responsive"><a href="/fh">Free Hold</a></td>
        <td><img src="static/images/kr.jpg" class="img-responsive"><a href="/kr">King's Rest</a></td>
        <td><img src="static/images/ml.jpg" class="img-responsive"><a href="/ml">Motherlode!!</a></td>
    </tr>
    <tr>
        <td><img src="static/images/sob.jpg" class="img-responsive"><a href="/sob">Siege of Boralus</a></td>
        <td><img src="static/images/sots.jpg" class="img-responsive"><a href="/sots">Shrine of the Storm</a></td>
        <td><img src="static/images/td.jpg" class="img-responsive"><a href="/td">Tol Dagor</a></td>
    </tr>
    <tr>
        <td><img src="static/images/tos.jpg" class="img-responsive"><a href="/tos">Temple of Sethralis</a></td>
        <td><img src="static/images/ur.jpg" class="img-responsive"><a href="/ur">Underrot</a></td>
        <td><img src="static/images/wm.jpg" class="img-responsive"><a href="/wm">Waycrest Manor</a></td>
    </tr>
</table>
{% endblock %}