{% extends "dungeons.html" %} {% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dungeons">Dungeons</a></li>
        <li class="breadcrumb-item"><a href="/dungeonslist">Dungeons List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Freehold</li>

    </ol>
</nav>

<img src="static/images/bfa-logo.png" class="img-responsive mx-auto d-block" style="width:50%" alt="Battle for Azeroth">
<h1>Freehold</h1>
<img src="static/images/fh.jpg" class="img-responsive float-right">
<p>Freehold has traditionally served as a haven for pirates, scroundrels, and those who wish to live free of Kul Tiran control. Now, the Irontide Raiders have brought the city under their harsh rule and are coercing the various pirate crews under their banner.
    While the pirates gather, a small group of heroes must infiltrate the town and eliminate their leadership to dissolve this growing alliance of cutthroats.</p> {% endblock %}