{% extends "dungeons.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/dungeons">Dungeons</a></li>
    <li><a href="/dungeonslist">Dungeons List</a></li>
    <li class="active">The Motherlode!!</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>The Motherlode!!</h1>
<p>The Isle of Kezan, rent asunder by the eruption of Mount Kajaro, is now brimming wiht Azerite in the aftermath of Sargeras' assault on Azeroth. Seeking to make a fortune and stake his claim to the title of Trade Prince, Mogul Razdunk has focused the Venture
    Company's efforts on weaponising Azerite and selling it to the highest bidder.</p>
<img src="static/images/ml.jpg" class="img-responsive"> {% endblock %}