{% extends "dungeons.html" %} {% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dungeons">Dungeons</a></li>
        <li class="breadcrumb-item"><a href="/dungeonslist">Dungeons List</a></li>
        <li class="breadcrumb-item active" aria-current="page">The MOTHERLODE!!</li>

    </ol>
</nav>

<img src="static/images/bfa-logo.png" class="img-responsive mx-auto d-block" style="width:50%" alt="Battle for Azeroth">
<h1>The Motherlode!!</h1>
<img src="static/images/ml.jpg" class="img-responsive float-right">
<p>The Isle of Kezan, rent asunder by the eruption of Mount Kajaro, is now brimming wiht Azerite in the aftermath of Sargeras' assault on Azeroth. Seeking to make a fortune and stake his claim to the title of Trade Prince, Mogul Razdunk has focused the Venture
    Company's efforts on weaponising Azerite and selling it to the highest bidder.</p> {% endblock %}