{% extends "dungeons.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/dungeons">Dungeons</a></li>
    <li><a href="/dungeonslist">Dungeons List</a></li>
    <li class="active">Shrine of the Storm</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Shrine of the Storm</h1>
<p>The Shrine of the Storm is a seat of power for both House Stormsong and the tidesages alike. Here, blessings upon the fleet are performed to ensure that the Kul Tiran fleet knows no equals in combat. Yet, a dark force has corrupted these sacred grounds
    and threatens to steal control of the Kul Tiran Fleet forever.</p>
<img src="static/images/sots.jpg" class="img-responsive"> {% endblock %}