{% extends "dungeons.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/dungeons">Dungeons</a></li>
    <li><a href="/dungeonslist">Dungeons List</a></li>
    <li class="active">Temple of Sethralis</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Temple of Sethralis</h1>
<p>Centuries ago, Sethraliss, a powerful snake loa, sacrificed herself to stop Mythrax from unleashing his master upon Azeroth. After the battle, her devoted followers transported her remains and built a temple around them while they awaited her rebirth.
    Now, a dark force stirs within this sacred temple that seeks to twist her power towards nefarious ends.</p>
<img src="static/images/tos.jpg" class="img-responsive"> {% endblock %}