{% extends "dungeons.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/dungeons">Dungeons</a></li>
    <li><a href="/dungeonslist">Dungeons List</a></li>
    <li class="active">The Underrot</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>The Underrot!</h1>
<p>Deep within the swamps of Nazmir, a blight grows beneath the surface. Unless this corruption is purged immediately, its influence will spread across the land like a ravenous plauge, leaving behind nothing but a festering world.</p>
<img src="static/images/ur.jpg" class="img-responsive"> {% endblock %}