{% extends "dungeons.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/dungeons">Dungeons</a></li>
    <li><a href="/dungeonslist">Dungeons List</a></li>
    <li class="active">Waycrest Manor</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Waycrest Manor</h1>
<p>Once the palatial estate of the Drustvar's ruling family, Waycrest Manor now serves as the fcous of dark rumours since the Lord and Lady inexplicably locked themselves within its halls. Stories of foul rituals, people disappearing in the night, and horrible
    screams coming from within the home are common among the townsfolk. Amid all these whispers only one thing is known: something evil has taken root within the Waycrest grounds.</p>
<img src="static/images/wm.jpg" class="img-responsive"> {% endblock %}