{% extends "characters.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/characters">Characters</a></li>
    <li class="active">Death Knight</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Death Knight</h1>
<p>Death Knights are a hero class, which means they start at a high level. Death Knights are a melee class with an emphasis on causing diseases and using dark magic.</p>
<p><b>Role: </b>Tank or Melee Damage</p> {% endblock %}