{% extends "characters.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/characters">Characters</a></li>
    <li class="active">Hunter</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Hunter</h1>
<p>Hunters are at home in the wilderness and have a special affinity for beasts. They rely on their weaponry and their pet to deal damage.</p>
<p><b>Role: </b>Ranged or Melee Damage</p> {% endblock %}