{% extends "characters.html" %} {% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/classes">Classes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Death Knight</li>
    </ol>
</nav>

<img src="static/images/bfa-logo.png" class="img-responsive mx-auto d-block" style="width:50%" alt="Battle for Azeroth">
<h1>Monk</h1>
<p>Monks are known for their skill in hand-to-hand fighting, relying on their fists and feet as much as their weapons. Monks can also specialise in calling upon the restorative power of the mists to heal allies.</p>
<p><b>Role: </b>Tank, Healer or Melee Damage</p>
{% endblock %}