{% extends "characters.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/characters">Characters</a></li>
    <li class="active">Paladin</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Paladin</h1>
<p>Paladins are heavily-armoured fighters and defenders who use Holy magic to heal wounds and combat evil. They can focus on two-handed weapons, shields or healing.</p>
<p><b>Role: </b>Tank, Healer or Melee Damage</p>
<h2>Akesia</h2>
<p>Akesia is the name of the Paladin that I currently play, and is the main character I use to raid with. Akesia's main combat role is Healer, which means that I use her avatar to ensure that the other players in my raid group are kept alive throughout the
    boss encounters my Guild and I play through. If anyone's avatar dies during combat, this is a direct reflection on my part!</p>
<img src="static/images/paladin.JPG" class="img responsive center-block" style="width:20%" alt="Akesia, Holy Paladin"> {% endblock %}