{% extends "characters.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/characters">Characters</a></li>
    <li class="active">Rogue</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Rogue</h1>
<p>Rogues often serve as assassins or scouts, though many are lone wolves as well. Rogues can often sneak around enemies or attack an opponent from behind to try and finish them off quickly.</p>
<p><b>Role: </b>Melee Damage</p> {% endblock %}