{% extends "characters.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/characters">Characters</a></li>
    <li class="active">Shaman</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Shaman</h1>
<p>Shaman use the power of the elements to enhance their weapon damage or spells. Shaman summon totems in combat, small objects that disable enemies, heal, or cause damage to enemies.</p>
<p><b>Role: </b>Healer, Ranged or Melee Damage</p> {% endblock %}