{% extends "index.html" %} {% block content %}
<h1>Welcome, Champion</h1>
<h2>Assessment 1: World of Warcraft</h2>
<div class="text-center">
    <img src="static/images/game-logo-wow.png" class="mw-50" alt="Sonic Sega Logo">
</div>
<h3>About</h3>
<p class="lead">The purpose of this website is to showcase Jinja2, Python and Flask working in tandem to promote an online directory tailored to my gaming passions. My name is Niko, and this website will include information regarding the current state of the game according
    to my experience, alongside end-game dungeon overviews and the character profiles that I have dedicated my time to playing. </p><br>
<h4>Experience</h4>
<p>I have played MMORPGs (Massively Multiplayer Online Role-Playing Game) fairly exclusively over the last 10 years, ever since I began my online journey with World of Warcraft: Wrath of the Lich King. Before I began my MMORPG passion, I was always interested
    in playing video games with friends and family, dating back to the Sega Mega Drive, where my mother and I used to play Desert Strike and Sonic the Hedgehog together.</p>
<div class="text-center">
    <img src="static/images/sonic-running-through-sega-logo.png" class="img-fluid" alt="Sonic Sega Logo">
</div>
<p>I was initially drawn to World of Warcraft due to a real life tragedy that involved a, then, close-friend. To help him cope with an incredibly dark period, he turned to the game and I followed him to help him in any way that I could. We played together
    regularly, doing most group content together - group content is described as playing with up to 5 people in a party - and as we finished levelling our characters we started the end-game grind. This process involved many hours of gathering materials
    and information to enter a raid content together, which is the bread and butter of the World of Warcraft experience for people who want more out of their levelling experience.</p><br>
<h4>Raiding</h4>
<p>Raiding in Wrath of the Lich King expansion for World of Warcraft involved grouping with either a minimum of 10 players, or a maximum of 25, to challenge end-game content that was tailored to each group size. It tested players to form a balanced group
    of like-minded individuals to progress through each tiered raid (and the raid tiers were defined by each major patch, such as when Wrath of the Lich King launched the first raid tier for the expansion was Naxxramas, and the second major patch introduced
    Ulduar, a third minor patch brought us Trial of the Crusader. Finally the last major patch of the expansion allowed players to face the famed Lich King, who was initially introduced as Arthas, Prince of Menethil, in the Real-Time Strategy game Warcraft
    3 and its expansion, The Frozen Throne.</p>
<p>In recent times, raiding is a lot more flexible. The maximum group sizes are no longer fixed, and the raid encounters dynamically adjust based on the amount of players in raid groups, but typically require a minimum of 10 players to complete.</p>
{% endblock %}}