{% extends "index.html" %} {% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/raiding">Raiding</a></li>
        <li class="breadcrumb-item"><a href="/dungeons">Dungeons</a></li>
        <li class="breadcrumb-item"><a href="/factions">Factions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Classes</li>
    </ol>
</nav>

<img src="static/images/bfa-logo.png" class="img-responsive mx-auto" style="width:50%" alt="Battle for Azeroth">
<h1>Classes</h1>
<p>There are many classes that can be chosen for World of Warcraft, and different races to suit each class. Here you will find class and role summarisations, similar to that of the dungeon list (<a href="dungeonslist">here</a>), and the current character
    classes that I play.</p>
<p>Please see below to navigate to the different classes available to players of WoW in the current expansion: Battle for Azeroth. The top three classes are the current character classes I play.</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <td><a href="/pal">Paladin</a></td>
            <td><a href="/mon">Monk</a></td>
            <td><a href="/wlk">Warlock</a></td>

        </tr>
        <tr>
            <td><a href="/rog">Rogue</a></td>
            <td><a href="/pri">Priest</a></td>
            <td><a href="/sha">Shaman</a></td>
        </tr>
        <tr>
            <td><a href="/mag">Mage</a></td>
            <td><a href="/hun">Hunter</a></td>
            <td><a href="/war">Warrior</a></td>
        </tr>
        <tr>
            <td><a href="/dru">Druid</a></td>
            <td><a href="/dea">Death Knight</a></td>
        </tr>
    </table>
</div>
{% endblock %}}