{% extends "index.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li class="active">Dungeons</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" alt="Battle for Azeroth">
<h1>Dungeons</h1>
<p>There are two types of Dungeons in World of Warcraft: group based, and raid based. Group based dungeons are formed from a team of 5 players who will venture into an instance where there are a set amount of bosses and monsters in between the bosses that
    the group must fight through to complete the dungeon. Finishing a dungeon yields experience, rewards in the form of loot, and an opportunity to meet other like-minded individuals.</p>
<p>Raid based dungeons require a minimum of 10 players to attempt, but are similar in nature to group based dungeons with the exception of more personal responsibility and encounter mechanics that generally require additional strategy or tactical methods
    to complete. Raids provide better rewards than dungeons can give, and really provide a deeper and more meaningful challenge.</p>
<p>Please see below to navigate to the different dungeons and the first raid tier available to players of WoW in the current expansion: Battle for Azeroth.</p>
<div class="table-responsive">
    <table class="table">
        <th><a href="/dungeonslist">Dungeons</a></th>
        <th><a href="/raid">Raid</a></th>
    </table>
    {% endblock %}}