{% extends "dungeons.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/dungeons">Dungeons</a></li>
    <li class="active">Dungeons List</li>
    <li><a href="/raid">Raid</a></li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Dungeons List</h1>
<p>Below you will find links to summarising descriptions of all the 5 man dungeons currently available in Battle for Azeroth expansion.</p>
<table class="table table-condensed">
    <th><img src="static/images/ad1.jpg"><a href="/ad">Atal'Dazar</a></th>
    <th><a href="/raiding">Raiding</a></th>
</table>
{% endblock %}