{% extends "dungeons.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/dungeons">Dungeons</a></li>
    <li class="active">Dungeons List</li>
    <li><a href="/raid">Raid</a></li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Dungeons List</h1>
<p>Below you will find links to summarising descriptions of all the 5 man dungeons currently available in Battle for Azeroth expansion.</p>
<table class="table table-condensed">
    <tr>
        <td>
            <a href="/fh"><img src="static/images/fh.jpg" class="img-responsive">Free Hold</a>
        </td>
        <td>
            <a href="/kr"><img src="static/images/kr.jpg" class="img-responsive">King's Rest</a>
        </td>
        <td>
            <a href="/ml"><img src="static/images/ml.jpg" class="img-responsive"> The MOTHERLOADE!!</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/sob"><img src="static/images/sob.jpg" class="img-responsive">Siege of Boralus</a>
        </td>
        <td>
            <a href="/sots"><img src="static/images/sots.jpg" class="img-responsive">Shrine of the Storm</a>
        </td>
        <td>
            <a href="/td"><img src="static/images/td.jpg" class="img-responsive">Tol Dagor</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/tos"><img src="static/images/tos.jpg" class="img-responsive">Temple of Sethralis</a>
        </td>
        <td>
            <a href="/ur"><img src="static/images/ur.jpg" class="img-responsive">Underrot</a>
        </td>
        <td>
            <a href="/wm"><img src="static/images/wm.jpg" class="img-responsive">Waycrest Manor</a>
        </td>
    </tr>
</table>
{% endblock %}