{% extends "dungeons.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/raiding">Raiding</a></li>
    <li><a href="/dungeons">Dungeons</a></li>
    <li class="active">Factions</li>
    <li><a href="/classes">Classes</a></li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Factions</h1>
<div class="text-center">
    <a href="/alliance"><img src="static/images/alliance-logo.png" class="float-left" alt="For the Alliance!"></a>
    <p class="lead">Choose Your Destiny</p>
    <a href="/horde"><img src="static/images/horde-logo.png" class="float-right" alt="For the Horde!"></a>
</div>
{% endblock %}