{% extends "characters.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/characters">Characters</a></li>
    <li class="active">Priest</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Priest</h1>
<p>Priests are well-rounded healers with a variety of tools. However, they can also sacrifice their healing to deal damage with Shadow magic.</p>
<p><b>Role: </b>Healer or Ranged Damage</p> {% endblock %}