{% extends "index.html" %} {% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/raiding">Raiding</a></li>
        <li class="breadcrumb-item"><a href="/dungeons">Dungeons</a></li>
        <li class="breadcrumb-item"><a href="/factions">Factions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Races</li>
        <li class="breadcrumb-item"><a href="/classes">Classes</a></li>
    </ol>
</nav>

<img src="static/images/bfa-logo.png" class="img-responsive mx-auto d-block" style="width:50%" alt="Battle for Azeroth">

<h1>Races</h1>
<p>As outlined in the <a href="/alliance">Alliance</a> and <a href="/horde">Horde</a> dedicated faction descriptions, many races exist within the World of Warcraft.</p>
<p>Each race has a unique model and inherent abilities, where usually a class defines what role and combat proficiency can be used, races are unaffected by your class choices outside of class-race exclusives (such as Alliance Paladins can only be Humans,
    Dwarves, or Draenei, and Horde Paladins can only be Blood Elf or Tauren).</p>
<p>Please see below to navigate to the different races.</p>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Alliance</th>
                        <th><a href="/humans">Humans</a></th>
                        <th><a href="/dwarves">Dwarves</a></th>
                        <th><a href="/gnomes">Gnomes</a></th>
                        <th><a href="/draenei">Draenei</a></th>
                        <th><a href="/nightelves">Night Elves</a></th>
                        <th><a href="/worgens">Worgens</a></th>
                    </tr>
                    <tr>
                        <th>Horde</th>
                        <th><a href="/orcs">Orcs</a></th>
                        <th><a href="/forsaken">Forsaken</a></th>
                        <th><a href="/tauren">Tauren</a></th>
                        <th><a href="/trolls">Trolls</a></th>
                        <th><a href="/bloodelves">Blood Elves</a></th>
                        <th><a href="/goblins">goblins</a></th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
</div>
{% endblock %}}