{% extends "home.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li><a href="/experience">Experience</a></li>
    <li class="active">Raiding</li>
</ol>
<img src="static/images/enjoyraiding.jpg" class="img-responsive center-block" alt="Raiding">
<h4>Raiding</h4>
<p>Raiding in Wrath of the Lich King expansion for World of Warcraft involved grouping with either a minimum of 10 players, or a maximum of 25, to challenge end-game content that was tailored to each group size. It tested players to form a balanced group
    of like-minded individuals to progress through each tiered raid (and the raid tiers were defined by each major patch, such as when Wrath of the Lich King launched the first raid tier for the expansion was Naxxramas, and the second major patch introduced
    Ulduar, a third minor patch brought us Trial of the Crusader. Finally the last major patch of the expansion allowed players to face the famed Lich King, who was initially introduced as Arthas, Prince of Menethil, in the Real-Time Strategy game Warcraft
    3 and its expansion, The Frozen Throne.</p>
<p>In recent times, raiding is a lot more flexible; the maximum group sizes are no longer fixed, and the raid encounters dynamically adjust based on the amount of players in raid groups, but typically require a minimum of 10 players to complete.</p>
<p>I currently enjoy raiding on the Draenor EU server, where I am a member of a top 200 Guild (a guild is a collection of players who belong to a named community and play together regularly), out of an excess of 1500 Guilds on the Draenor EU server. We are
    ranked by encounter progress, where we have successfully defeated two bosses on the hardest raiding difficulty (henceforth referred to as mythic) at the time of this writing, and we are currently working towards our third kill, which would leave only
    five more boss encounters left for this raiding tier.</p>
{% endblock %}