{% extends "dungeons.html" %} {% block content %}
<br>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dungeons">Dungeons</a></li>
        <li class="breadcrumb-item"><a href="/dungeonslist">Dungeons List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Raid</li>
    </ol>
</nav>

<img src="static/images/bfa-logo.png" class="img-responsive mx-auto d-block" style="width:50%" alt="Battle for Azeroth">

<h1>Raid</h1>
<p>The first raid of the Battle for Azeroth expansion is Uldir.</p>
<p>Millenia ago, seeking to understand the nature of their eternal foe, the titans constructed this sprawling underground faacility to research and quarantine captured specimens. They hoped that by studying void energy that bound the Old Gods, probing it
    for weaknesses and reactions, they could find some way to neutralise it. They were horribly, horribly wrong. The facility was sealed away, so that the horrors within would never be unleahsed upon Azeroth. But now those seals have broken...</p>
{% endblock %}