{% extends "dungeons.html" %} {% block content %}
<br>
<ol class="breadcrumb">
    <li><a href="/dungeons">Dungeons</a></li>
    <li><a href="/dungeonslist">Dungeons List</a></li>
    <li class="active">Siege of Boralus</li>
</ol>
<img src="static/images/bfa-logo.png" class="img-responsive center-block" style="width:50%" alt="Battle for Azeroth">
<h1>Siege of Boralus</h1>
<p>Lady Ashvane has unleashed her fury against the capital city's waning defenses. As Boralus burns, a small group of heroes must quell the rising chaos and put an end to Ashvane's plan to dominate the region.</p>
<img src="static/images/sob.jpg" class="img-responsive"> {% endblock %}