{% extends "races.html" %} {% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/races">Races</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blood Elves</li>
    </ol>
</nav>

<img src="static/images/bfa-logo.png" class="img-responsive mx-auto d-block" style="width:50%" alt="Battle for Azeroth">

<h1>Blood Elves</h1>
<div class="container">
    <img src="static/images/horde-logo.png" class="img responsive float-right" alt="For the Horde!">
    <p>Long ago the majestic high elves created the splendid golden city of Quel'Thalas, built around a magical fountain of energy known as the Sunwell. When the Lich king destroyed their capital in the Third War, the survivors turned to the Horde for help.
        Now known as the Blood Elves, these refugees are all that remains of their glorious civilisation. They strive to rebuild Quel'Thalas while struggling against a crippling addiction to the very magical energies that once built their empire.</p>
    <p><b>Playable Classes:</b> <a href="/pal">Paladin</a> / <a href="/mon">Monk</a> / <a href="/wlk">Warlock</a> / <a href="/rog">Rogue</a> / <a href="/pri">Priest</a> / <a href="/mag">Mage</a> / <a href="/hun">Hunter</a> /
        <a href="/war">Warrior</a> / <a href="/dea">Death Knight</a></p>
</div>
{% endblock %}