{% extends "races.html" %} {% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/races">Races</a></li>
        <li class="breadcrumb-item active" aria-current="page">Forsaken</li>
    </ol>
</nav>

<img src="static/images/bfa-logo.png" class="img-responsive mx-auto d-block" style="width:50%" alt="Battle for Azeroth">

<h1>Forsaken</h1>
<div class="container">
    <img src="static/images/horde-logo.png" class="img responsive float-right" alt="For the Horde!">
    <p>Once mindless slaves to the terrible Lich King, the gruesome Forsaken have overthrown his rule and now pledge loyalty to the wicked banshee queen Sylvanas. Under her reign, the Forsaken armies have reclaimed the ruined kingdom of Lordaeron. Every
        day is a struggle against vengeful Humans who wish to wipe them out, and a constant battle of wills against Horde allies who distrust the sinister motives of the undead.</p>
    <p><b>Playable Classes:</b> <a href="/mon">Monk</a> / <a href="/wlk">Warlock</a> / <a href="/rog">Rogue</a> / <a href="/pri">Priest</a> / <a href="/mag">Mage</a> / <a href="/hun">Hunter</a> /
        <a href="/war">Warrior</a> / <a href="/dea">Death Knight</a></p>
</div>
{% endblock %}