{% extends "races.html" %} {% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/races">Races</a></li>
        <li class="breadcrumb-item active" aria-current="page">Goblins</li>
    </ol>
</nav>

<img src="static/images/bfa-logo.png" class="img-responsive mx-auto d-block" style="width:50%" alt="Battle for Azeroth">

<h1>Goblins</h1>
<div class="container">
    <img src="static/images/horde-logo.png" class="img responsive float-right" alt="For the Horde!">
    <p>Originally the slaves of jungle Trolls on hte Isle of Kezan, the Goblin race was forced to mine Kaja'mite ore out of the Undermine, deep in the bowels of Mount Kajaro. Unbeknownst to anyone at the time, the mineral had magical properties that caused
        the Goblins to rapidly increase in both cunning and intelligence. Tinkering their own powerful artifacts of engineering and alchemy in secret, the Goblins overthrew their troll oppressors, taking over the island that they now call home. Quickly
        rising to prominence as masters of mercantilism, Goblins and their global trade conglomerates dominate all commerce across Azeroth.
    </p>
    <p><b>Playable Classes:</b> <a href="/wlk">Warlock</a> / <a href="/rog">Rogue</a> / <a href="/pri">Priest</a> / <a href="/sha">Shaman</a> / <a href="/mag">Mage</a> / <a href="/hun">Hunter</a> /
        <a href="/war">Warrior</a> / <a href="/dea">Death Knight</a></p>
</div>
{% endblock %}