{% extends "races.html" %} {% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/races">Races</a></li>
        <li class="breadcrumb-item active" aria-current="page">Draenei</li>
    </ol>
</nav>

<img src="static/images/bfa-logo.png" class="img-responsive mx-auto d-block" style="width:50%" alt="Battle for Azeroth">

<h1>Night Elves</h1>
<div class="container">
    <img src="static/images/alliance-logo.png" class="img responsive float-right" alt="For the Alliance!">
    <p>Ten thousand years ago the night elves founded a vast empire, but their reckless use of primal magic brought them to ruin. In grief, they withdrew to the forests and remained isolated there until the return of their ancient enemy, the Burning Legion.
        With no other choice, the night elves emerged at last from their seclusion to fight for their place in the new world.</p>
    <p><b>Playable Classes:</b> <a href="/mon">Monk</a> / <a href="/rog">Rogue</a> / <a href="/pri">Priest</a> / <a href="/mag">Mage</a> / <a href="/hun">Hunter</a> /
        <a href="/war">Warrior</a> / <a href="/dru">Druid</a> / <a href="/dea">Death Knight</a></p>
</div>
{% endblock %}